<!-- Call To Action -->
<div class="tm-section call-to-action-area tm-padding-section"
    data-bgimage="assets/images/bg/call-to-action-bg.jpg" data-overlay="8">
    <div class="container">
        <div class="tm-cta">
            <div class="tm-cta-content">
                <h3>New Patient Special Offer</h3>
                <h2>For your convenience, you can book your appointment</h2>
            </div>
            <div class="tm-cta-button">
                <a href="#" class="tm-button tm-button-white">Book an Appointment</a>
            </div>
        </div>
    </div>
</div>
<!--// Call To Action -->
{% schema %}
  {
    "name": "appointment section",
    "settings":[
          {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<p>New Patient Special Offer</p>"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Description",
          "default": "<p>For your convenience, you can book your appointment</p>"
        },
        {
          "type": "font",
          "id": "font",
          "label": "Font style"
        },
        {
          "type": "color",
          "id": "text-color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "font-size",
          "min": 12,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
        },
        {
          "type": "image_picker",
          "label": "Icon / Image",
          "id": "icon-picker"
        }
        ],
    "presets":[
      {
        "name":"appontment section"
      }
      
    ]
  }
{% endschema %}

{% style %}
{% endstyle %}
