<!-- Call To Action -->
<div class="tm-section call-to-action-area tm-padding-section"
    data-bgimage="assets/images/bg/call-to-action-bg.jpg" data-overlay="8">
    <div class="container">
        <div class="tm-cta">
            <div class="tm-cta-content">
                <h3>New Patient Special Offer</h3>
                <h2>For your convenience, you can book your appointment</h2>
            </div>
            <div class="tm-cta-button">
                <a href="#" class="tm-button tm-button-white">Book an Appointment</a>
            </div>
        </div>
    </div>
</div>
<!--// Call To Action -->
{% schema %}
  {
    "name": "appointment section",
    "settings": [],
    "presets":[
      {
        "name":"appontment section"
      }
      
    ]
  }
{% endschema %}

{% style %}
{% endstyle %}
