<div class="tm-section features-area bg-white tm-padding-section section-{{ section.id }}">
  <div class="container">
    <div class="row justify-content-center mt-30-reverse">
      <!-- Single Feature -->
      <div class="col-lg-4 col-md-6 col-12 mt-30">
        <div class="tm-feature text-center wow fadeInUp">
          <span class="tm-feature-icon">
            <i class="flaticon-spa"></i>
          </span>
          <span class="tm-feature-backicon">
            <i class="flaticon-spa"></i>
          </span>
          <h5>Massage Therapy</h5>
          <p>
            Massage therapy is the manipulation of the soft tissues of the body including muscles, connective tissue,
            tendons, ligaments and joints.
          </p>
        </div>
      </div>
      <!-- // Single Feature -->
    </div>
  </div>
</div>
